node_modules
vendor
xpert-app
xpert-admin-dashboard
.git
.vercel
.gemini
.claude
.github
.env
.env.local
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.github
*.md
docker-compose.yml
